/*
    -----------------------------------------------------------------------------
    ----------  /04-master-javascript-clasico-jquery-typescript-mean/  ----------
    ----------  /06-spa-proyecto-html5-css3-javascript-jquery/  -----------------
    ----------  /src/styles/  ---------------------------------------------------
    ----------  /layout.css  ----------------------------------------------------
    -----------------------------------------------------------------------------
*/


html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-attachment: fixed;
}



/*  
    --------------------------------------
    -----  Loader Pantalla Completa  -----  
    --------------------------------------
*/

.loader__container {
    position: fixed;
    inset: 0;
    background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #6366f1 100%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    z-index: 10000;
    opacity: 1;
    transition: opacity 1200ms ease-in-out;
}

.loader__container.fade-out {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.spinner {
    width: 15rem;
    height: 15rem;
    border: 10px solid #036AAD;
    border-top: 10px solid cornflowerblue;
    border-radius: 100%;
    animation: spin 1s linear infinite;
}

.loader__icon-jquery {
    width: 30rem;
    height: auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.layout {
    max-width: 125rem;
    width: 100%;
    min-height: 100%;
    margin-top: 3rem;
    flex: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem;
    background-color: white;
    box-shadow: 0 0 2px gray;
}

.layout.fade-in {
    display: flex;
    opacity: 1;
}

/*  ----------  Responsive  ----------  */

@media (max-width: 1400px) {

    .layout {
        width: 90%;
        margin-top: 6rem;
    }
}

@media (max-width: 585px) {

    .layout {
        width: 100%;
    }
}

/* @media (max-width: 380px) {

    .layout {
        padding-left: 0;
        padding-right: 0;
    }
        
} */