/*
    -----------------------------------------------------------------------------
    ----------  /04-master-javascript-clasico-jquery-typescript-mean/  ----------
    ----------  /06-spa-proyecto-html5-css3-javascript-jquery/  -----------------
    ----------  /src/styles/  ---------------------------------------------------
    ----------  /slider.css  ----------------------------------------------------
    -----------------------------------------------------------------------------
*/


.main__slider {
    width: 100%;
    overflow-y: hidden;
    /* height: 25rem; */
}

.slider__container {
    width: 100%;
    overflow-y: hidden;
}

.galeria img {
    width: 100%;
    height: 25rem;
    overflow-y: hidden;
}

.bx-caption {
    text-align: center;
}

.bx-wrapper {
    overflow-y: hidden;
}

@media (max-width: 768px) {
    
    .main__slider {
        margin-bottom: 5rem;
    }
}