/*
    -------------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------------
    ----------  /01-udemy/  -------------------------------------
    ----------  /01-jquery-master-javascript-clasico/  ----------
    ----------  /proyecto-jquery/  ------------------------------
    ----------  /src/styles/components/layout/  -----------------
    ----------  /layout-header.css  -----------------------------
    -------------------------------------------------------------
*/


.layout__header {
    width: 100%;
    display: flex;
}

.header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    width: 100%;
    min-height: 10rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    color: white;
    text-align: center;
}

.title__page {
    font-size: 3rem;
    text-transform: uppercase;
}

.title__proyect {
    font-size: 1.6rem;
}

@media (min-width: 430px) {
   
    .title__proyect {
        font-size: 1.8rem;
    }
}

@media (min-width: 785px) {
   
    .title__proyect {
        font-size: 2rem;
    }

    
}


