/*
    -------------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------------
    ----------  /01-udemy/  -------------------------------------
    ----------  /01-jquery-master-javascript-clasico/  ----------
    ----------  /proyecto-jquery/  ------------------------------
    ----------  /src/styles/components/layout/  -----------------
    ----------  /layout-slider.css  -----------------------------
    -------------------------------------------------------------
*/


.layout__slider {
    width: 100%;
    max-width: 120rem;
    height: 25rem;
    background-color: bisque;
}

.slider__container {
    width: 100%;
    height: 25rem;
    
}

.slider__container .galeria {
    width: 100%;
    height: 25rem;
    overflow-y: hidden;
}

.slider__container .galeria li {
    overflow-y: hidden;
}

.slider__container .galeria img {
    width: 100%;
    height: 25rem;
}

.bx-caption {
    text-align: center;
}

/*
.bx-wrapper {
    overflow-y: hidden;
}
*/

@media (max-width: 768px) {
    
    .layout__slider {
        margin-bottom: 5rem;
    }
}