<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /01-udemy/01-jquery-master-javascript-clasico/proyecto-jquery/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /01-udemy/01-jquery-master-javascript-clasico/proyecto-jquery/index.html [L]
</IfModule>


