/*
    -------------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------------
    ----------  /01-udemy/  -------------------------------------
    ----------  /01-jquery-master-javascript-clasico/  ----------
    ----------  /proyecto-jquery/  ------------------------------
    ----------  /src/styles/themes/  ----------------------------
    ----------  /blue.css  --------------------------------------
    -------------------------------------------------------------
*/


body {
    background-image: url('/01-udemy/01-jquery-master-javascript-clasico/proyecto-jquery/assets/img/cielo.webp');
}

.header__title,
.navbar__item a:hover,
.post__more,
.footer__subir,
form input[type="submit"],
#asideLogout {
    background-color: #1f87c4;
}

.posts__title,
.post__title,
.about__title,
.contact__title,
.reloj__title {
    color: #1f87c4;
}

.ui-accordion-header,
.ui-datepicker .ui-datepicker-header {
    background: #1f87c4 !important;
}

.reloj {
    color: #1f87c4;
    border: 5px dashed #1f87c4;
}

.post__more:hover {
    background-color: #70bfec;
}

.footer__subir:hover {
    background-color: #9ca39f;
}

form input[type="submit"]:hover,
#asideLogout:hover {
    background-color: #4896c4;
}
