/*
    -----------------------------------------------
    ----------  /jquery.antonydev.tech/  ----------
    ----------  /src/styles/  ---------------------
    ----------  /view-transition.css  -------------
    -----------------------------------------------
*/


@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}
