/*
    -------------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------------
    ----------  /01-udemy/  -------------------------------------
    ----------  /01-jquery-master-javascript-clasico/  ----------
    ----------  /proyecto-jquery/  ------------------------------
    ----------  /src/styles/  -----------------------------------
    ----------  /view-transition.css  ---------------------------
    -------------------------------------------------------------
*/


@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}
