<!--  
    -------------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------------
    ----------  /01-udemy/  -------------------------------------
    ----------  /01-jquery-master-javascript-clasico/  ----------
    ----------  /proyecto-jquery/  ------------------------------
    ----------  /src/components/layout/  ------------------------
    ----------  /layout-header.html  ----------------------------
    -------------------------------------------------------------
-->


<h1 class="header__title">

    <p class="title__page" id="headerTitle">
        <!--  *****  Renderizado del Título de la página  *****  -->
    </p>

    <span class="title__proyect">
        Proyecto jQuery del Master de JavaScript Clásico 
        <br>
        con HTML 5, CSS 3, JavaScript y jQuery
    </span>

</h1>