<!--  
    -----------------------------------------------------------------------------
    ----------  /04-master-javascript-clasico-jquery-typescript-mean/  ----------
    ----------  /06-spa-proyecto-html5-css3-javascript-jquery/  -----------------
    ----------  /src/components-layout/  ----------------------------------------
    ----------  /layout-header.html  --------------------------------------------
    -----------------------------------------------------------------------------
-->


<h1 class="header__title">

    <p class="title__page" id="headerTitle">
        <!--  *****  Renderizado del Título de la página  *****  -->
    </p>

    <span class="title__proyect">
        Proyecto HTML 5, CSS 3, JavaScript y jQuery
    </span>

</h1>