<!--  
    -------------------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------------------
    ----------  /01-udemy/  -------------------------------------
    ----------  /01-jquery-master-javascript-clasico/  ----------
    ----------  /proyecto-jquery/  ------------------------------
    ----------  /src/components/layout/  ------------------------
    ----------  /selector-theme.html  ---------------------------
    -------------------------------------------------------------
-->


<div class="theme__container">

    <div id="toGreen"> </div>
    <div id="toRed"> </div>
    <div id="toBlue"> </div>

</div>