<!--  
    -----------------------------------------------------------------------------
    ----------  /04-master-javascript-clasico-jquery-typescript-mean/  ----------
    ----------  /06-spa-proyecto-html5-css3-javascript-jquery/  -----------------
    ----------  /src/components-layout/  ----------------------------------------
    ----------  /slider.html  ---------------------------------------------------
    -----------------------------------------------------------------------------
-->


<div class="slider__container">

    <ul class="galeria">

        <li>
            <img 
                src="/01-udemy/01-jquery-master-javascript-clasico/proyecto-jquery/assets/img/hojas.webp"
                alt="Hojas" 
                title="Hojas"
                loading="lazy"
            >
        </li>

        <li>
            <img 
                src="/01-udemy/01-jquery-master-javascript-clasico/proyecto-jquery/assets/img/rojo.webp"
                alt="Rojo" 
                title="Rojo"
                loading="lazy"
            >
        </li>

        <li>
            <img 
                src="/01-udemy/01-jquery-master-javascript-clasico/proyecto-jquery/assets/img/cielo.webp"
                alt="Cielo" 
                title="Cielo"
                loading="lazy"
            >
        </li>

    </ul>

</div>